/* Variables */
$color-one: #0097e6;
$color-two: #33d9b2;
$color-three: #ff5252;
$text-color-one: #ffffff;
$text-color-two: #2c2c54;

$font-text: 'Inconsolata', monospace;
$font-headr: 'Signika', sans-serif;

$transition: all 1s;

/* Global */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 16px;
  line-height: 1.7;
  font-family: $font-text;
  color: $text-color-two;
  // background-color: #ff5252;
}

.container {
  max-width: 1140px;
  padding: 0 20px;
  margin: 0 auto; /* wycentrowany w poziomie */
}

section {
  padding: 96px;
}

.btn {
  display: inline-block;
  min-width: 160px;
  margin: 24px auto 0 auto;
  padding: 16px;
  border-radius: 5px;
  font-family: $font-text;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-width: 2px;
  border-style: solid;
  background-position: 100% 0;
  background-size: 300%;
  transition: $transition;
}

.btn:hover {
  background-position: 0 100%;
  color: $text-color-one;
}

// parent
.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* Navigation */

.navigation {
  background-color: $color-one;
  padding: 12px 12px;
}

.navigation {
  ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
  }

  li {
    display: inline-block;
    margin: 0 36px 0 0;
    position: relative;
  }

  a {
    text-decoration: none;
    color: $text-color-one;
  }

  a:hover {
    color: $color-two;
  }
}

.navigation ul ul li {
  display: block;
  margin: 0 0 12px 0;
}

.navigation ul li ul {
  display: none;
}

.navigation li:hover ul {
  display: block;
  text-align: center;
  position: absolute;
  background-color: $text-color-one;
}

/* linki 2 poziomu*/
.navigation li ul a {
  color: $color-one;
  padding: 0 24px;
}

.navigation li ul a:hover {
  color: $color-two;
}

/* lista 2 poziomu*/
.navigation ul ul {
  left: 50%;
  transform: translateX(-50%);
  padding: 12px 0 0 0;
}

/*  Splash */

/* parent element*/
.splash {
  background-color: $color-one;
  color: $text-color-one;
  min-height: 500px;
  display: flex;
}

.splash-inner {
  margin: auto;
  max-width: 70%; //maybe optional
}

.splash .page-title {
  margin: 0;
  font-size: 72px;
  word-spacing: -24px;
  font-weight: 700;
  line-height: 1.2;
}

.splash .page-subtitle {
  margin: 24px 0;
  font-weight: 400;
  font-size: 16px;
}

.page-title span {
  font-family: $font-headr;
}

.btn-one {
  border-color: $text-color-one;
  color: $text-color-one;
  background-image: linear-gradient(
    90deg,
    $text-color-one 50%,
    transparent 50%
  );
}

.btn-one:hover {
  color: $color-one;
}

/*  Our services */

section .page-title {
  font-size: 48px;
  margin: 0 0 72px 0;
}

section .page-subtitle {
  font-size: 24px;
  margin: 0 0 12px 0;
}

.child-element {
  flex: 0 0 33.333%;
  position: relative;
  //testing
  display: flex;
  flex-direction: column;
}

.service-number {
  position: absolute;
  font-size: 144px;
  line-height: 1;
  color: $color-two;
  opacity: 0.2;
  top: -20px;
  // left: 0px;
  font-family: $font-headr;
}

.child-element .page-subtitle {
  font-size: 24px;
  margin: 0 0 12px 0;
  font-weight: bold;
}

.child-element p:first-of-type {
  font-weight: bold;
}

.child-element p:last-of-type {
  padding: 0 30px 30px 0;
}

//button two
.btn-two {
  border-color: $color-two;
  color: $color-two;
  background-image: linear-gradient(90deg, $color-two 50%, transparent 50%);
  margin-left: 0;
  margin-top: auto;
}

.btn-two:hover {
  color: $text-color-one;
}

// button three
.btn-three {
  border-color: $color-three;
  color: $color-three;
  background-image: linear-gradient(90deg, $color-three 50%, transparent 50%);
  margin-left: 0;
  margin-top: auto;
}

.btn-three:hover {
  color: $text-color-one;
}

// button four
.btn-four {
  border-color: $color-one;
  color: $color-one;
  background-image: linear-gradient(90deg, $color-one 50%, transparent 50%);
  margin-left: 0;
  margin-top: auto;
}

.btn-four:hover {
  color: $text-color-one;
}

/*  Our work */

.box {
  flex: 0 0 50%;
  min-height: 300px;
  padding-bottom: 96px;
  display: flex;
}

.work-image {
  max-width: 250px;
  height: 100%;
  position: relative;
}

.work-image::after {
  content: '';
  position: absolute;
  opacity: 0.3;
  background-color: $color-two;
  top: 20px;
  left: 20px;
  width: 100%;
  height: 100%;
  transition: all 1s ease;
}

.work-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.work-image:hover::after {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Zmiana koloru na ciemniejszy */
}

.work-description {
  padding: 20px 0;
  z-index: 1;
  text-align: left;
  flex: 1;
  padding: 40px 70px 0 40px;
}

.work-description p:last-of-type {
  font-weight: bold;
}

.btn-five {
  color: $color-one;
  border: none;
  margin: 36px 0;
  padding: 0;
  text-align: left;
}

.btn-five:hover {
  color: $color-two;
}

/*  Contact us */

.contact-us {
  background-color: $color-one;
  color: $text-color-one;
}

.info title {
  font-size: 20px;
}

//child
.contact-form {
  flex: 2 0 0;
  padding: 40px 96px 0 0;
  display: flex;
  flex-direction: column;
}

label {
  font-size: 0;
}

.contact-form input {
  border: none;
  background-color: transparent;
  padding-bottom: 40px;
}

.contact-form input::placeholder {
  color: $text-color-one;
  border-bottom: 5px solid white;
  padding: 0 0 10px 10px;
}

// .contact-form input:last-of-type::placeholder {
//   // padding-bottom: 120px;
//   // margin-top: 40px;

// }

//child
.contact-info {
  flex: 1 0 0;
}

.btn-six {
  background: transparent;
  border-color: $text-color-one;
  color: $text-color-one;
  background-image: linear-gradient(
    90deg,
    $text-color-one 50%,
    transparent 50%
  );
  background-size: 300%; /* Aby gradient działał poprawnie */
  background-position: 100% 0; /* Dostosowanie gradientu */
  margin-left: 0;
  margin-top: auto;
}

.btn-six:hover {
  color: $color-one;
}

.contact-info p {
  padding-bottom: 20px;
}

/*  Footer */
.page-footer ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 48px 0;
}

.page-footer li {
  font-size: 0;
  padding-right: 20px;
  transition: $transition;
}

.page-footer li:hover {
  font-size: 0;
  padding-right: 20px;
  transform: scale(1.2);
  transition: $transition;
}

.page-footer i {
  font-size: 30px;
  background: $color-three;
  width: 60px;
  height: 60px;
  line-height: 60px;
  color: $text-color-one;
  border-radius: 50%;
  text-align: center;
}

/* Media */

@media (max-width: 767px) {
  /* Splash */

  .splash-inner {
    margin: 40px 20px;
  }

  /* Our work */

  .our-work .page-title {
    margin-bottom: 20px;
  }
  .wrapper {
    flex-direction: column;
  }

  .wrapper .child-element {
    padding-bottom: 80px;
  }

  .box {
    flex-direction: column;
    max-width: 100%;
    height: 150px;
    padding-bottom: 20px;
  }

  .work-description {
    padding-left: 0;
  }

  .work-image {
    max-width: 100%;
    height: 150px;
  }

  section {
    padding: 20px;
  }

  /*  Contact us */

.contact-form{
  padding: 0;
}

.contact-info {
  margin-top: 60px;
}
}



@media (min-width: 768px) and (max-width: 991px) {
}
